* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    html{
        font-size: 12px;
    }
    
    .cabecalho {
        display: flex;
        flex-direction: column;
    }

    .img{
        border-bottom: 1px solid white;
        padding: 10px;
        margin-bottom: 20px;
        width: 100%;
    }

    .links-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 1%;
    }

    .img-medico img{
        display: none;
    }

    .imagem-especialidades {
        display: none;
    }

    .titulo-especialidades {
        margin-bottom: 10%;
    }

}

:root {
    --cor-base: #A6D1E6;
    --cor-secundaria: rgb(82, 229, 255);
    --fonte-principal: "Kanit", serif;
    --fonte-secundaria: "Poppins", sans-serif;
    --cor-titulos: #535353;
    --cor-textos: #1d1d1d;
    --cor-impar: #d1d1d1;
    --cor-par: #ffffff;
}

.cabecalho {
    background-color: var(--cor-base);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonte-principal);
}

.img{
    width: 100%;
}

.img img {
    max-width: 200px;
    width: 100%;
}

.img a{
    width: 100%;
}

.links-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.links-nav a {
    text-decoration: none;
    color: white;
}

.links-nav a:hover {
    color: rgb(66, 140, 252);
    transition: 0.5s;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 2%;
    flex-wrap: wrap;
}

.nav-links a {
    text-decoration: none;
    color: var(--cor-textos);
    font-family: var(--fonte-secundaria);
    border-bottom: 3px solid var(--cor-base);
}

.nav-links a:hover {
    border-bottom: 3px solid var(--cor-secundaria);
    transition: 0.5s;
}

.titulo-especialidades {
    font-size: 1rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-titulos);
    margin-top: 20px;
}

.titulo-especialidades h1 {
    font-size: 1.5rem;
    margin-bottom: 1%;
}

.container-especialidades {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1%
}

.text-especialidades {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: var(--fonte-secundaria);
    font-size: 0.9rem;
}

.text-especialidades h5 {
    color: var(--cor-titulos);
    font-size: 1.3rem;
}

.container-tabela-especialidades {
    display: flex;
    justify-content: center;
    padding-top: 3%
}

.imagem-especialidades img {
    max-width: 400px;
    width: 100%;
    max-height: 338px;
    height: 100%;
}

.tabela-especialidade {
    text-align: left;
    width: 100%;
    max-width: 600px;
    border-collapse: collapse; /* Remove espaços entre células */
    font-family: var(--fonte-secundaria);
}

.tabela-especialidade thead th {
    padding: 1%;
    background-color: var(--cor-base);
    color: white;
}

.tabela-especialidade tbody td {
    color: black;
    padding: 1%;
}

.tabela-especialidade tbody tr:nth-child(odd) {
    background-color: var(--cor-impar);
}

.tabela-especialidade tbody tr:nth-child(even) {
    background-color: var(--cor-par);
}

.rodape {
    background-color: var(--cor-base);
    text-align: center;
    color: white;
    padding: 1%;
    margin-top: 5%;
}

.rodape img {
    max-width: 200px;
    width: 100%;
}

.voltar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor-base);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.voltar:hover {
    background-color: var(--cor-secundaria);
    transition: 0.9s;
}