<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/especialidades.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Especialidades</title>
</head>
<body>

    <button class="voltar" onclick="scrollToTop()">Voltar ao Topo</button>

    <header class="cabecalho" id="cabecalho">
            <div class="img">
                <a href="/index.html">
                    <img src="/assets/logo.png" alt="">
                </a>    
            </div>
        <nav class="links-nav">
            <a href="/index.html#sobre">Sobre</a>
            <a href="#especialidades">Especialidades</a>
            <a href="/index.html#contato">Contato</a>
        </nav>
    </header>

    <nav class="nav-links">
        <a href="#ortopedia">Ortopedia</a>
        <a href="#pediatria">Pediatria</a>
        <a href="#geriatria">Geriatria</a>
        <a href="#psicologia">Psicologia</a>
        <a href="#fisioterapia">Fisioterapia</a>
    </nav>

    <div class="titulo-especialidades">
        <h1>Conheça nossas especialidades</h1>
    </div>

    <div class="container-especialidades ortopedia" id="ortopedia">

        <div class="text-especialidades">
            <h5>Ortopedia</h5>
            <p>A ortopedia é a especialidade médica que cuida da saúde relacionadas aos elementos do aparelho locomotor, como ossos, músculos, ligamentos e articulações.</p>
        </div>
        
        <div class="container-tabela-especialidades">

            <div class="imagem-especialidades">
                <img src="/assets/ortopedia.png" alt="img-ortopedia">
            </div>

            <table class="tabela-especialidade">

                <thead>
                    <tr>
                        <th>Dias</th>
                        <th>Horários</th>
                        <th>Medicos</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Segundas e Quartas</td>
                        <td>08:00 - 13:00</td>
                        <td>Dr. João</td>
                    </tr>

                    <tr>
                        <td>Terça, Quinta e Sexta</td>
                        <td>14:00 - 21:00</td>
                        <td>Dr. Daniel</td>
                    </tr>

                    <tr>
                        <td>Sábado</td>
                        <td>8:00 - 21:00</td>
                        <td>Dr. Manoel Bento</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="container-especialidades pediatria" id="pediatria">

        <div class="text-especialidades">
            <h5>Pediatria</h5>
            <p>A pediatria é a especialidade médica dedicada à assistência à criança e ao adolescente, nos seus diversos aspectos, sejam eles preventivos ou curativos.</p>
        </div>
        
        <div class="container-tabela-especialidades">

            <div class="imagem-especialidades">
                <img src="/assets/pediatra2.png" alt="img-ortopedia">
            </div>

            <table class="tabela-especialidade">

                <thead>
                    <tr>
                        <th>Dias</th>
                        <th>Horários</th>
                        <th>Medicos</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Segundas e Quartas</td>
                        <td>08:00 - 15:00</td>
                        <td>Dr. Elaine Pinheiro</td>
                    </tr>

                    <tr>
                        <td>Terça, Quinta e Sexta</td>
                        <td>13:00 - 21:00</td>
                        <td>Dr. Anderson Ramos</td>
                    </tr>

                    <tr>
                        <td>Sábado</td>
                        <td>8:00 - 12:00</td>
                        <td>Dra. Manoela Foster</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="container-especialidades geriatria" id="geriatria">

        <div class="text-especialidades">
            <h5>Geriatria</h5>
            <p>Medicina geriátrica ou geriatria é o ramo da medicina que foca o estudo, a prevenção e o tratamento de doenças e da incapacidade em idades avançadas.</p>
        </div>
        
        <div class="container-tabela-especialidades">

            <div class="imagem-especialidades">
                <img src="/assets/geriatra.png" alt="img-ortopedia">
            </div>

            <table class="tabela-especialidade">

                <thead>
                    <tr>
                        <th>Dias</th>
                        <th>Horários</th>
                        <th>Medicos</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Segundas e Quartas</td>
                        <td>09:00 - 12:00</td>
                        <td>Dr. Antônio Freitas</td>
                    </tr>

                    <tr>
                        <td>Terça, Quinta e Sexta</td>
                        <td>09:00 - 16:00</td>
                        <td>Dr. Alfred Conceição</td>
                    </tr>

                    <tr>
                        <td>Sábado</td>
                        <td>8:00 - 19:00</td>
                        <td>Dr. Almir Aguiar</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="container-especialidades psicologia" id="psicologia">

        <div class="text-especialidades">
            <h5>Psicologia</h5>
            <p>Psicologia é a especialidade médica que trata da mente, do estudo e análise de seus processos e comportamento de indivíduos e grupos humanos em diferentes situações.</p>
        </div>
        
        <div class="container-tabela-especialidades">

            <div class="imagem-especialidades">
                <img src="/assets/psicologo.png" alt="img-ortopedia">
            </div>

            <table class="tabela-especialidade">

                <thead>
                    <tr>
                        <th>Dias</th>
                        <th>Horários</th>
                        <th>Medicos</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Segundas e Quartas</td>
                        <td>08:00 - 21:00</td>
                        <td>Dra. Diane Fagundes</td>
                    </tr>

                    <tr>
                        <td>Terça, Quinta e Sexta</td>
                        <td>14:00 - 18:00</td>
                        <td>Dr. Daniel Dias</td>
                    </tr>

                    <tr>
                        <td>Sábado</td>
                        <td>10:00 - 15:00</td>
                        <td>Dra. Beatriz Luz</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="container-especialidades fisioterapia" id="fisioterapia">

        <div class="text-especialidades">
            <h5>Fisioterapia</h5>
            <p>Fisioterapia é uma ciência da saúde aplicada ao estudo, diagnóstico, prevenção e tratamento de disfunções cinéticas funcionais de órgãos e sistemas.</p>
        </div>
        
        <div class="container-tabela-especialidades">

            <div class="imagem-especialidades">
                <img src="/assets/fisioterapia.png" alt="img-ortopedia">
            </div>

            <table class="tabela-especialidade">

                <thead>
                    <tr>
                        <th>Dias</th>
                        <th>Horários</th>
                        <th>Medicos</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Segundas e Quartas</td>
                        <td>08:00 - 16:00</td>
                        <td>Dra. Sophia Amaral</td>
                    </tr>

                    <tr>
                        <td>Terça, Quinta e Sexta</td>
                        <td>08:00 - 15:00</td>
                        <td>Dra. Maria Fernandes</td>
                    </tr>

                    <tr>
                        <td>Sábado</td>
                        <td>10:00 - 18:00</td>
                        <td>Dra. Sophia Amaral</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <footer class="rodape">
        <img src="/assets/logo.png" alt="">
        <p>&copy Desenvolvido por Yuji Ohasi</p>
    </footer>

    <script>
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    </script>
</body>
</html>